name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      RUNNER: ${{ secrets.RUNNER }}
      TEST_USER_NAME: ${{ secrets.TEST_USER_NAME }}
      TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Instalar Allure Playwright Reporter
        run: npm install -D allure-playwright
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests con Allure
        run: npx playwright test --reporter=allure-playwright
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: allure-results
          path: allure-results/
          retention-days: 30
